/* CSS Code Written by Team Starbucks */
html, body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
i, em {
	color: #ffffff;
}

/* Bootstrap */
.nav-link {
	font-weight: bold;
}
/* Navigation */
#headimg {
	padding: 10px;
	display: inline-block;
	margin: 0;
}
#headimg img {
	height: 73px;
	margin: 0;
	display: block;
}
/* Links */
a {
	text-decoration: none;
}

a img{
	text-decoration: none;
}

/* iframe */
.iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.iframe {
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #FF9014;
	line-height: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	margin-top: 10px;
}
h2 {
	font-size: 2em;
	font-weight: bold;
	color: #11B300;
	line-height: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 2px;
	margin-top: 10px;
}
h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: #484848;
	text-transform: uppercase;
	margin: 0;
}

.italics{
	font-style: italic;
}

/* Image Carousel */
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 100%;
}


/* Animals page */
* {
	box-sizing: border-box;
}
.container {
	position: relative;
	width: 75%;
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 95.5%;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 0px;
	text-align: center;
}
.container:hover .overlay {
	opacity: 1;
}
